.login_bg img.logo{width:230px;top:18%;position:absolute;left:50%;transform:translate(-50%,-18%)}
.login_block{height:214px;width:356px;background:none;z-index:2;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.login_block_in{height:auto;width:350px;background:rgba(248,248,248,0.3);z-index:2;position:absolute;top:3px;left:50%;transform:translateX(-50%);padding:10px;border:3px solid #4975f1}
.login_top{height:32px;width:100px;background:#4975f1;z-index:1;position:absolute;top:-29px;left:3px;color:#fff;text-shadow:none;font-size:20px}
.login_top:after{position:absolute;right:-30px;content:" ";width:0;height:0;border-style:solid;border-width:35px 0 0 30px;border-color:transparent transparent transparent #4975f1;top:0}
.login_top_in{height:30px;width:95px;background:#ef4647;z-index:2;position:absolute;top:3px;left:3px;text-align:left;padding:2px 0 0 10px;font-size:16px}
.login_top_in:after{position:absolute;right:-27px;content:" ";width:0;height:0;border-style:solid;border-width:32px 0 0 27px;border-color:transparent transparent transparent #ef4647;top:0}
.hcm-btn{background-color:#fcdc01;border:none;color:#4975F1;cursor:pointer;display:inline-block;line-height:normal;margin:15px 0;outline:none;padding:12px 40px 10px;position:relative;text-transform:capitalize}
.hcm-btn:before,.hcm-btn:after{border-color:transparent;-webkit-transition:all .25s;transition:all .25s;border-style:solid;border-width:0;content:"";height:24px;position:absolute;width:24px}
.hcm-btn:before{border-color:#EF4647;border-top-width:2px;left:0;top:-5px}
.hcm-btn:after{border-bottom-width:2px;border-color:#EF4647;bottom:-5px;right:0}
.hcm-btn:hover,.hcm-btn.hover{background-color:#aeea00;color:#EF4647}
.hcm-btn:hover:before,.hcm-btn.hover:before,.hcm-btn:hover:after,.hcm-btn.hover:after{height:100%;width:100%}
.checkbox_wrap{float:left}
.checkbox_wrap span{position:relative;top:-2px;left:5px;color:#fff;text-shadow:none;color:#B9C5CC;font-size:12px}
.login_block_in p{color:#ef4647;font-size:12px;text-align:left;text-shadow:none;clear:both; margin-bottom:0;}
.login_block_in a{color:#ef4647;padding:0 5px}
.login_block_in a:hover{color:#4975f1;text-decoration:none}
.hcm-main.form-signin .input-support{margin-bottom:20px;position:relative;width:100%}
.hcm-main.form-signin .input-support .form-control{border:none;padding:5px;color:#ef4647}
.hcm-main.form-signin .input-support .form-control:focus {box-shadow: none;}
.hcm-main .form-wrap div input{border:none;min-height:40px;padding-left:5px;outline:none!important;width:100%;overflow:hidden}
.hcm-main .topleft:before,.hcm-main .topleft:after,.hcm-main .topright:before,.hcm-main .topright:after,.hcm-main .botright:before,.hcm-main .botright:after,.hcm-main .botleft:before,.hcm-main .botleft:after{position:absolute;content:'';background-color:#4975F1}
.hcm-main .topleft:before,.hcm-main .topleft:after{top:0;left:0}
.hcm-main .topleft:before,.hcm-main .topright:before{width:45%;height:1px}
.hcm-main .topleft:after,.hcm-main .topright:after{height:15px;width:1px}
.hcm-main .topright:before,.hcm-main .topright:after{right:0}
.hcm-main .botright:before,.hcm-main .botright:after{right:0;bottom:0}
.hcm-main .botright:before,.hcm-main .botleft:before{width:45%;height:1px}
.hcm-main .botright:after,.hcm-main .botleft:after{height:15px;width:1px}
.hcm-main .botleft:before,.hcm-main .botleft:after{bottom:0;left:0}
.hcm-main .red .topleft:before,.hcm-main .red .topleft:after,.hcm-main .red .topright:before,.hcm-main .red .topright:after,.hcm-main .red .botright:before,.hcm-main .red .botright:after,.hcm-main .red .botleft:before,.hcm-main .red .botleft:after{background:#EF4647}
.hcm-main .red .topleft:before,.hcm-main .red .topright:before,.hcm-main .red .botright:before,.hcm-main .red .botleft:before{height:2px}
.hcm-main .red .botright:after,.hcm-main .red .botleft:after,.hcm-main .red .topleft:after,.hcm-main .red .topright:after{width:2px}
.hcm-main .checkbox-main input[type=checkbox]:not(old){width:18px;margin:0;padding:0;font-size:1em;opacity:0;float:left;height:18px}
.hcm-main .checkbox-main input[type=checkbox]:not(old) + label{display:inline-block;margin:-1px 0 0 -21px;line-height:1.5em;float:left;color:#ef4647;font-weight:400}
.hcm-main .checkbox-main input[type=checkbox]:not(old) + label > span{display:inline-block;width:15px;height:15px;margin:.25em .5em .25em .25em;border:0 solid #4975f1;border-radius:0;background:#fff;vertical-align:bottom}
.hcm-main .checkbox-main input[type=checkbox]:not(old) + label:before span,.hcm-main .checkbox-main input[type=checkbox]:not(old) + label:after span{border-color:transparent;-webkit-transition:all .25s;transition:all .25s;border-style:solid;border-width:0;content:"";height:24px;position:absolute;width:24px}
.hcm-main .checkbox-main input[type=checkbox]:not(old):checked + label > span:before{content:'';display:block;width:6px;text-align:center;margin:3px auto 0 5px;background:#EF4647;height:6px}
.hcm-main .checkbox-main .topleft:before,.hcm-main .checkbox-main .topleft:after,.hcm-main .checkbox-main .topright:before,.hcm-main .checkbox-main .topright:after,.hcm-main .checkbox-main .botright:before,.hcm-main .checkbox-main .botright:after,.hcm-main .checkbox-main .botleft:before,.hcm-main .checkbox-main .botleft:after{position:absolute;content:'';background-color:#4975F1}
.hcm-main .checkbox-main .checkbox-active .topleft:before,.hcm-main .checkbox-main .checkbox-active .topleft:after,.hcm-main .checkbox-main .checkbox-active .topright:before,.hcm-main .checkbox-main .checkbox-active .topright:after,.hcm-main .checkbox-main .checkbox-active .botright:before,.hcm-main .checkbox-main .checkbox-active .botright:after,.hcm-main .checkbox-main .checkbox-active .botleft:before,.hcm-main .checkbox-main .checkbox-active .botleft:after{position:absolute;content:'';background-color:#EF4647}
.hcm-main .checkbox-main .topleft:before,.hcm-main .checkbox-main .topleft:after{top:0;left:0}
.hcm-main .checkbox-main .topleft:before,.hcm-main .checkbox-main .topright:before{width:7px;height:1px}
.hcm-main .checkbox-main .topleft:after,.hcm-main .checkbox-main .topright:after{height:7px;width:1px}
.hcm-main .checkbox-main .topright:before,.hcm-main .checkbox-main .topright:after{right:0}
.hcm-main .checkbox-main .botright:before,.hcm-main .checkbox-main .botright:after{right:0;bottom:0}
.hcm-main .checkbox-main .botright:before,.hcm-main .checkbox-main .botleft:before{width:7px;height:1px}
.hcm-main .checkbox-main .botright:after,.hcm-main .checkbox-main .botleft:after{height:7px;width:1px}
.hcm-main .checkbox-main .botleft:before,.hcm-main .checkbox-main .botleft:after{bottom:0}
.hcm-main .checkbox-main .border-sup{float:left;width:18px;height:18px;position:absolute}