﻿@import 'global';
/*footer css started*/
.footer-main {background: $hcmbgred; width: 100%; position: fixed; height: 30px; color: #fff; bottom: 0; text-shadow: none; border-top: 2px solid $hcmbgyellow; font-size:14px; z-index:999; 
.footer-wrap {background:$hcmbgred;  width: 60%; height: 30px; margin: 0; float: left; text-align: right; display: inline-block;
    /* .footer-wrap-innr {text-align: center; line-height: 25px; } */} 
.social-media{width: 40%; float: left; text-align: right; span {color:$hcmtextwhite; margin: 0 15px; text-align: center; line-height:30px; 
    &:hover{ color:$hcmtextred; cursor: pointer;} }
}
}