﻿@import 'global';

.left-nav-wrap {
  display: block;
  position: fixed;
  left:0px;
  z-index: 999;
  background: $hcmbgnavblue;
  height: calc(100% - 133px);
  overflow: auto;

  .left-nav {
    display: block;
    ul {
      display: block;
      margin: 0px;
      padding: 0px;
      li {
        display: block;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid $hcmnavborblue;
        &.active {
          a {
            background:#1a3558;
            border-left: 5px solid $hcmbgred;
            &::after {
              content:"";
              position: absolute;
              top: 50%;
              left:0px;
              transform: translateY(-50%);
              background:$hcmbgred;
              width: 7px;
              height: 13px;
              display: block;
              -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
              clip-path: polygon(0 0, 0% 100%, 100% 50%);
            }
          }
        }
        a {
          display: block;
          padding:8px 10px;
          border-left: 5px solid transparent;
          position: relative;
          figure {
            display: inline-block;
            width: 30px;
            text-align: center;
            img {
              width:80%;
              height: auto;
            }
          }
          label {
            display: inline-block;
            color:$hcmtextwhite;
            font-size: 15px;
            font-weight: normal;
            margin: 0 0 0 8px;
            text-transform: capitalize;
            cursor: inherit;
            display: none;
            -webkit-transition: width 1s ease-in-out;
            -moz-transition: width 1s ease-in-out;
            -o-transition: width 1s ease-in-out;
            transition: width 1s ease-in-out;
          }
        }
      }
    }
    &.active {
      a {
        label {
          display: inline-block;
        }
      }
    }
  }
}
/*left_navigation-Ends*/


/*Top-Navigation-Starts*/
.navigation-wrap {
  display: block;
  position: absolute;
  bottom:-42px;
  left: 67px;
  width:calc(100% - 70px);
  z-index: 999;
  .navigation {
      display: block;
      margin: 0 auto;
      
      ul {
          float: left;
          width: auto;
          margin: 0px;
          padding: 0px;
          li { 
              display: inline-block; 
              float: left; 
              margin-right: 50px; 
              position: relative;
              width:auto;
              background: $hcmbggrey;
              padding: 1px 0 1px 0;

              &:after {    
                  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0 0);
                  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0 0);
                  content: "";
                  height: 0;
                  left: -30px;
                  position: absolute;
                  top: 0;
                  width: 0;
                  background: $hcmbggrey;
                  width: 30px;
                  height: 100%;
              }

              &:before {
                  content: "";
                  position: absolute;
                  right: -30px;
                  bottom: 0;
                  -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
                  clip-path:polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
                  width: 30px;
                  height: 100%;
                  background: $hcmbggrey;
              }
              a {
                  padding:7px 20px;
                  background:white;  
                  display: block; 
                  color:$hcmtextblue; 
                  text-decoration: none; 
                  position: relative;
                  text-transform: capitalize;
                  z-index: 999;
                  &:after {
                      display: block; 
                      content: ""; 
                      position: absolute; 
                      top: 0px; 
                      left:-28px; 
                      background: white; 
                      width: 30px; 
                      height: 100%; 
                      -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0 0);
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0 0);
                  }
                  &:before {
                      display: block; 
                      content: ""; 
                      position: absolute; 
                      bottom:0px; 
                      right: -29px; 
                      background: white; 
                      width: 30px; 
                      height: 100%; 
                      -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
            clip-path:polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
                  }    
              }
              &.active {
                  a {
                     background:$hcmbgblue;
                     color:$hcmtextwhite;
                     &:after, &:before {background:$hcmbgblue;} 
                  }
              }
              &:first-child {
                  border-radius: 5px 0 0 5px;
                  padding-left:1px; 
                      &::after, {display:none;}
                  a {
                      border-radius: 5px 0 0 5px;
                      &::after, {display:none;}
                  }
              }
          }
      }
  }
}

/* Top-Navigation-Ends */